body {
    margin: 0;
    padding: 0;

    background-color: #121212;
    color: white;

    font-family: Arial, sans-serif;
}

.hero {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    background-image:
        linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    ),
    url("https://images.unsplash.com/photo-1511512578047-dfb367046420");

    background-size: cover;
    background-position: center;
}

.hero-content h1 {
    font-size: 5rem;

    margin-bottom: 20px;

    color: #ffb000;
}

.hero-content p {
    font-size: 1.3rem;

    max-width: 700px;

    line-height: 1.6;

    color: #dddddd;
}

.stats-container {
    display: flex;

    justify-content: center;
    gap: 30px;

    margin-top: 50px;

    flex-wrap: wrap;
}

.stat-card {
    background-color: rgba(255,255,255,0.08);

    padding: 25px;

    border-radius: 15px;

    width: 220px;

    backdrop-filter: blur(10px);

    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.stat-card h2 {
    font-size: 2.5rem;

    color: #ffb000;

    margin-bottom: 10px;
}

.stat-card p {
    color: #dddddd;

    line-height: 1.5;
}

.content-section {
    padding: 100px 15%;

    background-color: #181818;
}

.dark-section {
    background-color: #101010;
}

.text-block {
    max-width: 900px;

    margin: auto;
}

.text-block h2 {
    font-size: 3rem;

    color: #ffb000;

    margin-bottom: 30px;
}

.text-block p {
    font-size: 1.2rem;

    line-height: 2;

    color: #dddddd;
}

.chart-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    margin-top: 50px;
}

.chart-box {
    background-color: rgba(255,255,255,0.04);

    padding: 25px;

    border-radius: 20px;

    backdrop-filter: blur(10px);

    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.source-list {
    color: #dddddd;
    line-height: 2;
    font-size: 1rem;
}
